<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-logo">
      <img src="/assets/images/edarah-logo.svg" alt="Edarah Logo">
      <span>Edarah</span>
    </a>

    <div class="navbar-links">
      <a routerLink="/features" class="nav-link">Features</a>
      <a routerLink="/pricing" class="nav-link">Pricing</a>
      <a routerLink="/about" class="nav-link">About</a>
    </div>

    <div class="navbar-actions">
      @if (currentUser) {
        <div class="user-menu">
          <button class="user-menu-button">
            Welcome, {{ currentUser.first_name }}
            <svg class="chevron-down" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"></path></svg>
          </button>
          <div class="user-menu-dropdown">
            <a routerLink="/profile" class="dropdown-item">Profile</a>
            <a (click)="logout()" class="dropdown-item">Logout</a>
          </div>
        </div>
      } @else {
        <a routerLink="/login" class="btn btn-login">Sign In</a>
        <a routerLink="/register" class="btn btn-register">Get Started</a>
      }
    </div>
  </div>
</nav>
